pandas
scikit-learn
google-genai
google-play-scraper
app-store-scraper
psycopg2-binary
sqlalchemy
youtube-comment-downloader
python-dotenv
schedule
groq
sentence-transformers
torch
fastapi
uvicorn
streamlit
plotly
requests
